body {
    background-image: url('../images/hollywood-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#ratings {
    color: white;
}

#ratingssection {
    text-align: center;
    font-size: 10px;
    width: 200;
    display: block;
}

#ratedgif {
    float: left;
}

.actorGif {
    padding: 20px;
    width: 250px;
    height: 250px;
}

#actor {
    position: inherit;
}