body {
    background-image: url('../images/hollywood-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

#ratings {
    color: white;
}

#ratingssection {
    text-align: center;
    font-size: 10px;
    width: 200;
    display: block;
}

#ratedgif {
    float: left;
}

.actorGif {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    width: 250px;
    height: 250px;
    float: right;
}

#actor {
    position: inherit;
    width: 200px;
}

#actorsection {
    display: initial;
}

p{
    color: white;
    margin: 0;
    font-size: 20px;
    text-align: center;
}

